@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

:root {
    --bleuclair: #3179A7;
    --pad: 1.5rem;
    --marg: .9rem;
    --middle: 50%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    color: black;
}


/* INDEX */

.marker {
    color: var(--bleuclair);
}

.navbar {
    flex-basis: 20%;
    font-weight: bold;
}

.header {
    padding: var(--pad) 1rem;
    box-shadow:  2px 0 20px #888888;
    flex-wrap: wrap;
}

.header h3 {
    font-weight: bolder;
    font-size: 21px;
    margin: 0 var(--marg);
}

.header nav {
    margin: 0 var(--marg);
}

.left {
    padding: var(--pad);
    width: 100%;
    padding-bottom: 0;
}

.left h1 {
    width: 30%;
    font-size: 51px;
}

.left img {
    margin-right: 80px;
}

.design {
    width: 20%;
    text-align: center;
    margin: -70px 0 40px 20px;
}

.design .text {
    font-weight: 600;
    margin-bottom: var(--marg);
}


.social {
    height: 35vh;
    position: fixed;
    bottom: 10%;
    right: 3%;
}

.big {
    font-size: 55px;
    font-family: 'Kaushan Script', cursive;
    font-weight: lighter;
    width: 65%;
}

.big span {
    font-family: 'Kaushan Script', cursive;
}
.action {
    width: 40%;
    margin: 2% 0 0 5%;
}

.action a {
    background-color: var(--bleuclair);
    color: whitesmoke;
    padding: calc(var(--pad) / 3) calc(var(--pad) / 1.1);
    border-radius: 7px;
}

/* FIN DE INDEX */


/* TRAVAUX */


.travel{
    margin: 3.5rem 0 0 3.3rem;
    text-align: left;
}

.travel .one{
    margin-bottom: 1rem;
}

.travel .title{
    margin: 0 0 1.1rem 0;
}

.travel .title img{
    margin-right: 1.1rem;
}

.travel .content li {
    margin: 0  0 .5rem 1.5rem;
}

.title p {
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
}

.pad {
    padding:  var(--pad) calc(var(--pad)*3.2) 0 calc(var(--pad)*3.2);
}


/* FIN DE TRAVAUX */



/* A PROPOS */

.boxe .travel {
    width: 40%;
    line-height: 2.4rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.boxe .about h1 {
    flex-basis: 50%;
}

.act-about {
    margin: 10% 0 0 2%;
}


/* FIN DE  A PROPOS */




/* BIBLIOTHEQUES PERSO */


.marg-bottom {
    margin-bottom: calc(var(--marg)*3);
}

.align-h{
    align-items: center;
}

.align-v{
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btw {
    justify-content: space-between;
}

.arnd {
    justify-content: space-around;
}

.ucase {
    text-transform: uppercase;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}


/* FIN DE BIBLIOTHEQUES PERSO */





/* MEDIA QUERIES */


@media screen and (max-width: 450px) {

    
    /* INDEX */
    
    .header {
        padding: 0;
        flex-direction: column;
        align-items: stretch;
    }
    .header h3{
        text-align: center;
        margin-bottom: 2rem;
    }
    .boxe .left {
        flex-direction: column;
    }
    .boxe .left h1{
        width: 85%;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .boxe .left .avatar {
        width: auto;
        height: 230px;
        margin-left: 4rem;
    }
    .design{
        width: 80%;
        margin: 1.8rem auto;
    }
    .social {
        bottom: 25%;
        height: 33vh;
    }
    .action {
        flex-direction: column;
        width: 90%;
    }
    .action h3 {
        margin-bottom: 12px;
    }

        /* FINN DE INDEX */

    

    /* TRAVAUX */
    
    .boxe .change{
        flex-direction: inherit;
    }
    .boxe .change img{
        margin: 0;
    }
    .boxe .travel {
        margin: auto;
    }
    .action {
        margin-top: 5.5rem;
    }

    /* FIN DE TRAVAUX */

    
    /* A PROPOS */

    .boxe .about{
        align-items: center;
    }
    .boxe .about h1{
        width: 100%;
        font-size: 2.4rem;
    }
    .boxe .about img{
        margin: 1.3rem 0 1.3rem 0;
        width: 150px;
        height: auto;
    }
    .boxe .travel{
        font-weight: bold;
        font-size: 15px;
        line-height: 2.2rem;
        text-align: justify;
        width: 100%;
        padding: 0 1.3rem;
    }
    .boxe .social-rev{
        position: relative;
        right: 0;
        width: 60%;
        height: 10%;
        flex-direction: row;
        margin: 1.5rem auto;
    }
    .act-about {
        margin: 3rem auto;
    }

    /* FIN DE A PROPOS */
}


@media screen and (min-width: 451px) and (max-width: 684px) {

    
    /* INDEX */
    
    .header {
        padding: 0;
        flex-direction: column;
        align-items: stretch;
    }
    .header h3{ 
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .header nav {
        font-size: 1.4rem;
    }
    .boxe .left {
        flex-direction: column;
    }
    .boxe .left .size{
        width: 85%;
        margin: auto;
        font-size: 2.5rem;
        margin-bottom: 0;
        text-align: center;
        
    }
    .boxe .left .avatar {
        width: auto;
        height: 330px;
        margin-left: 4rem;
    }
    .design{
        width: 80%;
        margin: 1.8rem auto;
        font-size: 1.3rem;
    }
    .social {
        bottom: 25%;
        height: 30vh;
    }
    .action {
        flex-direction: column;
        width: 90%;
        font-size: 1.3rem;
    }
    .action h3 {
        margin-bottom: 42px;
    }

    /* FIN DE INDEX */

    
    /* TRAVAUX */
    
    .boxe .change{
        flex-direction: inherit;
        margin-bottom: 4rem;
    }
    .boxe .left h1{
        text-align: left;
    }
    .boxe .change img{
        margin: 0;
    }
    .boxe .travel {
        margin: auto;
    }
    .action {
        margin-top: 5.5rem;
    }

    /* FIN DE TRAVAUX */

}


@media screen and  (min-width: 685px) and  (max-width: 887px) {
    body {
        background-color: rgb(255, 115, 0);
    }
    
}

@media screen and (min-width: 888px)  and (max-width: 1056px) {
    body {
        /* background-color: rgb(255, 115, 0); */
    }
    
}

@media (max-width: 1056px){
    body {
        /* background-color: yellow; */
    }
    
     /* INDEX */

     .header nav {
        /* background-color: red; */
    }

    /* FIN DE INDEX */

}


@media screen and (min-width: 1057px) and (max-width: 1313px) { 

     /* INDEX */

     .header nav {
        flex-basis: 25%;
    }
    .act-about{
        width: 50%;
        justify-content: space-between;
    }

    /* FIN DE INDEX */


    
    /* TRAVAUX */

    .header nav {
        flex-basis: 25%;
    }
    .act-about{
        width: 50%;
        justify-content: space-between;
    }

    /* FIN DE TRAVAUX */


    /* A PROPOS */

    .header nav {
        flex-basis: 25%;
    }
    .action{
        width: 50%;
        justify-content: space-between;
    }

    /* FIN DE A PROPOS */
}